[submodule "pcb/vik"]
	path = pcb/vik
	url = https://github.com/Silcantar/vik.git
	branch = dev
[submodule "pcb/kleeb"]
	path = pcb/kleeb
	url = https://github.com/crides/kleeb.git
[submodule "pcb/key-switches"]
	path = pcb/key-switches
	url = https://github.com/Silcantar/key-switches.git
	branch = lopro-hybrids
[submodule "cad/bd_keyboard"]
	path = cad/bd_keyboard
	url = https://github.com/Silcantar/bd_keyboard.git
[submodule "cad/keycaps"]
	path = cad/keycaps
	url = https://github.com/heyitscassio/pseudomakemekeycapprofiles.git
