[submodule "pcb/vik"]
	path = pcb/vik
	url = https://github.com/Silcantar/vik.git
	branch = dev
[submodule "cad/library"]
	path = cad/library
	url = https://github.com/Silcantar/openscad_library.git
	branch = main
[submodule "cad/keycaps"]
	path = cad/keycaps
	url = https://github.com/Silcantar/keycaps.git
